/* .search-list table tr td {
  background-color: #f8f8fb !important;
} */

.search-list table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search-list table tr:hover {
  cursor: pointer;
}

.search-list table tr td.image {
  width: 50px;
}

.search-list table tr td img {
  width: 50px;
  height: 50px;
}

.search-list table tr td.rate {
  color: #f39c12;
  line-height: 50px;
}

.search-list table tr td.price {
  font-size: 1.5em;
  line-height: 50px;
}

.search-list table .table-row {
  background-color: #f8f8fb !important;
}

.search-list #price1,
.search-list #price2 {
  display: inline;
  font-weight: 600;
}

/* .search-results .table .image {
  width: 50px;
} */

.search-results .table img {
  width: 50px;
  height: 50px;
}

/* .search-results .table .row,
.search-results .table .col {
  background-color: #f8f8fb !important;
} */

.search-results .table .price {
  font-size: 1.5em;
  line-height: 50px;
}

.infinite-scroll-component1 {
  overflow: none !important;
}
